* {
  font-family: helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}

#everything, #content-outer {
  height: auto;
}

#everything.nothome, #content-outer.nothome {
  height: 100vh;
}

body {
  background-color: #EBF4E1;
  background-image: url('brushed-alum-dark');
}

.full-background {
  height: 100%;
  width: 100%;
  margin: 0;
}

.full-window {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.full-window-abs {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: absolute;
}

#fixed-outer {
  position: fixed;
  z-index:349759279582739875924837958739579324875;
  pointer-events: none;
}

#header-outer {
  pointer-events: auto;
  position: fixed;
  background-image: url('backgrounds/translucent-fibres.png');
  margin: 0;
  height: 110px;
  width: 250px;
  overflow: hidden;
  border-bottom-right-radius: 100px;
  background-color: white;
  box-shadow: 3px 3px 10px black;
  margin-top: -150px;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1); /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
     -moz-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
       -o-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
          transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005); /* custom */
}

#header-outer.carousel {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
}

#header-outer.carousel:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

#header-outer.shown, #header-outer-instructs.shown {
  margin-top: 0;
}

#header-outer-instructs {
  margin-left: 250px;
  height: 25px;
  margin-top: -150px;
  border-bottom-right-radius: 100px;
  box-shadow: 3px 3px 10px black;
  width: 125px;
  line-height: 25px;
  background-color: white;
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1); /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
     -moz-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
       -o-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
          transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005); /* custom */
}

#header-outer-instructs * {
  vertical-align: center;
  text-align: center;
}

#header-logo {
  width: 197px;
  height: auto;
  margin: 0;
  z-index: 0;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
  left: 5px;
  top: 5px;
  cursor: pointer;
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1); /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
     -moz-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
       -o-transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005);
          transition: all 500ms cubic-bezier(0.490, 0.025, 0.490, 1.005); /* custom */
}

#header-outer:hover #header-logo {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#header-outer:hover a {
  opacity: 0.5;
}

#header-outer a:hover {
  opacity: 1;
}

#header-outer a {
  opacity: 0;
}

#header-outer:hover {
  height: 350px;
}

.header-button {
  position: absolute;
  margin: 0;
  font-size: 35px;
  color: black;
  max-width: 0px;
  font-weight: 100;
  transition: max-width 0.25s, opacity 0.5s;
  -webkit-transition: max-width 0.25s, opacity 0.5s;
  -o-transition: max-width 0.25s, opacity 0.5s;
  -moz-transition: max-width 0.25s, opacity 0.5s;
}

.header-button:hover, .header-button.selected {
  max-width: 100px;
}

.header-button.selected {
  font-weight: 500;
}

.header-button:active {
  max-width: 150px;
}

#paintings-header {
  color: #a5cd79;
  left: 29px;
  top: 105px;
  border-bottom: 2px solid #a5cd79;
}

#pastels-header {
  color: #91c25b;
  left: 20px;
  top: 167px;
  border-bottom: 2px solid #91c25b;
}

#photos-header {
  color: #5d8632;
  left: 11px;
  top: 230px;
  border-bottom: 2px solid #5d8632;
}

#about-header {
  color: #1f2d11;
  left: 5px;
  top: 295px;
  border-bottom: 2px solid #1f2d11;
}

#intro-header-outer {
  z-index: 38245239;
  height: 500px;
  width: 100vw;
  margin-left: -5vw;
  box-shadow: 0px 5px 5px black;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -ms-transition-delay: 1s;
}

#intro-header-outer.homepage, #intro-header-gray.homepage, #intro-header-content.homepage {
  height: 100vh;
}

#intro-header-gray.homepage {
  width: 100vw;
}

#intro-header-gray, #intro-header-content {
  position: absolute;
  height: 500px;
  width: 100%;
  margin: 0;
}

#intro-header-gray {
  background-color: rgba(0, 0, 0, 0.5);
}

#intro-logo {
  height: 200px;
  position: absolute;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  cursor: pointer;
  margin-top: 100px;
}

#intro-logo.about-logo {
  height: 150px !important;
  margin-top: 150px !important;
}

#about-text {
  color: #BAD897;
  margin: 0;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
}

@media screen and (max-width: 800px) {
  #about-text {
    font-size: 50px !important;
    margin-top: 75px !important;
  }
}

#intro-logo.homepage {
  height: 30vh !important;
  margin-top: 25vh !important;
}

#intro-header-buttons-outer {
  width: 100vw;
  height: 40px;
  position: absolute;
  margin-top: 350px;
}

#intro-header-buttons-outer.homepage {
  margin-top: 70vh !important;
}

.intro-button {
  height: 40px;
  width: 175px;
  border-radius: 25px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
}

#paintings-button:hover, #paintings-button.selected {
  background-color: #a5cd79;
}

#pastels-button:hover, #pastels-button.selected {
  background-color: #86BD4C;
}

#photos-button:hover, #photos-button.selected {
  background-color: #689537;
}

#about-button:hover, #about-button.selected {
  background-color: #486827;
}

.intro-button:hover p {
  color: black;
}

#about-table {
  margin-top: 50px;
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

#about-table.hidden {
  opacity: 0;
  pointer-events: none;
}

.button-text {
  font-size: 25px;
  line-height: 40px;
  vertical-align: middle;
  color: white;
  font-weight: 100;
  text-align: center;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
}

#content {
  width: 90vw;
  margin-left:auto;
  margin-right: auto;
  background-color: #A5CD79;
  height: auto;
}

#content.nothome {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
}

#carousel-outer {
  height: 70vh;
  width: 100vw;
  z-index: -100;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

#carousel-back, #carousel-black, #carousel-front, #carousel-buttons {
  height: 70%;
  width: 100%;
  margin: 0;
  position: absolute;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

#carousel-back.hidden, #carousel-black.hidden, #carousel-front.hidden, #carousel-buttons.hidden {
  height: 93%;
}

#carousel-outer.hidden {
  height: 93vh;
  width: 100vw;
  z-index: -100;
}

#carousel-buttons {
  position: relative;
  height: 100%;
  pointer-events: none;
}

#left-arr, #right-arr {
  position: absolute;
  height: 100px;
  pointer-events: auto;
  width: 100px;
  top: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out, left 0.25s, right 0.25s;
  -webkit-transition: opacity 0.5s ease-in-out, left 0.25s, right 0.25s;
  -o-transition: opacity 0.5s ease-in-out, left 0.25s, right 0.25s;
  -moz-transition: opacity 0.5s ease-in-out, left 0.25s, right 0.25s;
  -ms-transition: opacity 0.5s ease-in-out, left 0.25s, right 0.25s;
}

#left-arr:hover, #right-arr:hover {
  opacity: 1;
}

#left-arr {
  left: 50px;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

#right-arr {
  right: 50px;
}

#left-arr:active {
  left: 25px;
}

#right-arr:active {
  right: 25px;
}

#carousel-black {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-white {
  background-color: rgba(255, 255, 255, 1) !important;
}

#carousel-back {
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('pics/ny/efawouhfuiejwhiusdhfihe.jpg');
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  transition: background-image 1.5s;
  -webkit-transition: background-image 1.5s;
  -moz-transition: background-image 1.5s;
  -o-transition: background-image 1.5s;
  -ms-transition: background-image 1.5s;
}

#carousel-front {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  background-size: contain;
  background-position: 50% 50%;
  background-image: url('pics/ny/panoq34edgf4q3wesdf2.jpg');
  background-repeat: no-repeat;
}

#carousel-info {
  background-color: #F5F9F0;
  background-image: url('backgrounds/brushed-alum-dark.png');
  margin: 0;
  height: 30vh;
  width: 100vw;
  box-shadow: 0 0 5px 5px black;
  z-index:230;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

#carousel-info.darker {
  background-color: #0A0F06;
}

#carousel-info.hidden {
  margin-top: 24vh;
  height: 7vh;
}

#carousel-info-top {
  height: 20%;
  margin: 0;
  width: 100%;
  line-height: 7vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

#carousel-info-top.hidden {
  height: 100%;
}

#carousel-info-top * {
  vertical-align: top;
  position: absolute;
  margin: 0;
  line-height: 6vh;
}

#car-title {
  font-size: 4vh;
  line-height: 6vh;
  font-weight: 900;
  left: 1vw;
  vertical-align: top;
  color: white;
}

#car-medium, #car-dimensions, #more, .divider {
  font-size: 2.5vh;
  font-weight: 100;
  margin: 0;
  color: white;
  vertical-align: middle;
}

#car-medium {
  left: 35vw;
}

#car-dimensions {
  left: 60vw;
}

#more {
  right: 20px;
}

#direct-arr {
  right: 125px;
}

@media screen and (max-width: 700px) {
  #car-title {
    font-size: 2vh;
  }
  #car-medium, #car-dimensions, #more, #direct-arr {
    font-size: 2vh;
  }
  #direct-arr {
    right: 100px;
  }
}

.divider {
  font-size: 4vh;
  font-weight: 100;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

#more {
  float: right;
  cursor: pointer;
}

#direct-arr {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

#direct-arr.down {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
}

#carousel-info-bottom {
  height: 80%;
  overflow-y: scroll;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}

#carousel-info-bottom.hidden {
  height: 0;
}

.carousel-preview {
  display: inline-block;
  background-image: url('pics/ny/pano1.jpg');
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid transparent;
  margin: 10px;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
}

.carousel-preview.selected {
  border: 2px solid white;
}

.carousel-preview:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.preview-overlay {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+69,0.65+100 */
/*background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 69%, rgba(0,0,0,0.65) 100%);*/
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(69%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */*/
/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0.65) 100%); */
/*background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0.65) 100%);/*/
/*background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0.65) 100%);*/
/*background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0.65) 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); */
}

.preview-overlay p {
  position: absolute;
  font-weight: 900;
  margin: 0;
  color: white;
  text-shadow: 0 0 3px black;
  bottom: 3px;
  background-color: rgba(100, 100, 100, 0.3);
  width: 100%;
  text-align: center;
}

#other-content {
  height: auto;
  position: absolute;
  background-image: url('backgrounds/brushed-alum-dark.png');
  top: 500px;
  width: 90vw;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.7);
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F9F0;
}

#other-content p, a {
  font-size: 30px;
  font-weight: 500;
}

#other-content h1 {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-thing {
  height: 400px;
  line-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.section-thing p, a {
  margin: 0;
  line-height: 30px;
  vertical-align: baseline;
  text-align: right;
}

.section-thing a {
  margin-left: 10%;
  color: #3E5921;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
}

.section-thing a:hover {
  color: #689537;
}

.section-thing a:active {
  color: #C3DEA6;
}

.round-thing {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  height: 25vw;
  border-radius: 500px;
  display:block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#imlazy {
  z-index:-98439572984;
  opacity: 0.99;
  width: 100vw;
  margin-left: -5vw;
  height: 0px;
  background-color: transparent;
  margin-top: 15px;
  box-shadow: 0 -16px 20px 9px black;
}

.hr {
  background-color: #3E5921;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 2px;
  width: 60%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#hr-header {
  position: absolute;
  margin-top: 132px;
  margin-bottom: 0;
  background-color: #E1EED2;
  width: 20%;
}

#footer {
  height: 100px;
  width: 100%;
  margin: 0;
  line-height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}

#footer * {
  vertical-align: middle;
}

#footer-logo {
  float: left;
  display: inline-block;
  height: 75px;
  width: auto;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

#footer p, a {
  font-size: 20px;
  color: black;
  opacity: 0.5;
  display: block;
  line-height: 25px;
  display: baseline;
}

#footer a {
  float: left;
  display: block;
  clear: both;
  color: #1F2D11;
  transition: all 0.25s !important;
  -webkit-transition: all 0.25s !important;
  -moz-transition: all 0.25s !important;
  -o-transition: all 0.25s !important;
  -ms-transition: all 0.25s !important;
}

#footer a:hover {
  opacity: 1;
}

#footer td {
  margin: 0;
}

@media screen and (max-width: 1100px) {
  #footer p, a {
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 900px) {
  #footer p, a {
    font-size: 10px;
    line-height: 12px;
  }
}


.date {
  font-weight: 900;
  color: #344A1C;
}

.lotsoftext p {
  font-size: 15px !important;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.alittlelesstext p {
  font-size: 20px !important;
}
